<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Website Kulturama ini dibuat dengan menerapkan custom elemen dan aksesibilitas" />
		<meta name="dicoding:email" content="ardianugerahw@gmail.com">
		<meta name="dicoding:email" content="septianyudha21@if.unjani.ac.id">
		<meta name="dicoding:email" content="nrrevina@gmail.com">
		<link rel="icon" type="image/x-icon" href="./favicon.png">
		<link rel="manifest" href="./app.webmanifest">
		<title>Kulturama</title>
	</head>
	<body>
		<a tabindex="0" href="#main" class="skip-link">Skip To Content</a>
		<header class="header">
			<div class="header__inner">
				<h1 tabindex="0" class="header__title">Kulturama</h1>
			</div>
			<a tabindex="0" id="hamburger" class="header__hamburger">☰</a>
			<nav id="drawer" class="nav">
				<ul class="nav__ul">
					<li class="nav__li"><a tabindex="0" href="/index.html">Home</a></li>
					<li class="nav__li"><a tabindex="0" target="_blank" href="https://linktr.ee/KulturamaTeam" rel="noopener">Our Team</a></li>
					<li class="nav__li"><a tabindex="0" target="_blank" href="https://github.com/ardianugerahw/Kulturama" rel="noopener">About Us</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<div class="container">
				<div class="image-section">
					<div class="image-placeholder"></div>
				</div>
				<div class="text-section">
					<h2>Kulturama</h2>
					<button class="get-started" onclick="location.href='#kulturama-title'">Get started</button>
				</div>
			</div>
			<div class="card-list">
				<h2 id="kulturama-title" class="kulturama-title" >BUDAYA BAJU ADAT DARI SELURUH PROVINSI DI INDONESIA</h2>
				<kulturama-list></kulturama-list>
			</div>
            <div class="contact-section">
                <form action="">
					<h2>Contact Us</h2>
                    <div>
                        <span>
                            <label for="name">Name</label><br/>
                            <input id="name" type="text" placeholder="Full Name" autocomplete="name">
                        </span>
                        <span>
                            <label for="email">Email</label></br>
                            <input id="email" type="email" placeholder="Email" autocomplete="email">
                        </span>
                    </div>
                    <label for="message">Your Message</label><br/>
                    <textarea name="" id="message" rows="10" placeholder="Your Message" autocomplete="off"></textarea>
                    <button id="submitbutton" onclick="sendToWhatsapp()" type="submit">Submit</button>
                </form>
            </div>
		</main>
		<footer>
			<div class="footer-content">
				<h3>About Us</h3>
				<p>Melalui Kulturama, kami berusaha memanfaatkan teknologi digital untuk menyajikan konten budaya Indonesia dalam format yang menarik dan interaktif. Kami percaya bahwa dengan pendekatan ini, generasi muda akan lebih tertarik dan termotivasi untuk mengenal, menghargai, dan melestarikan warisan budaya Indonesia.</p>
			</div>
			<div class="footer-bottom">
				<p>Copyright © 2024 - Kulturama</p>
			</div>
		</footer>
	</body>
</html>