<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Website Kulturama ini dibuat dengan menerapkan custom elemen dan aksesibilitas" />
		<title>Kulturama</title>
	</head>
	<body>
		<a tabindex="0" href="#main" class="skip-link">Skip To Content</a>
		<header class="header">
			<div class="header__inner">
				<h1 tabindex="0" class="header__title">Kulturama</h1>
			</div>
			<a tabindex="0" id="hamburger" class="header__hamburger">☰</a>
			<nav id="drawer" class="nav">
				<ul class="nav__ul">
					<li class="nav__li"><a tabindex="0" href="/index.html">Home</a></li>
					<li class="nav__li"><a tabindex="0" href="#">Favorite</a></li>
					<li class="nav__li"><a tabindex="0" href="">About US </a></li>
				</ul>
			</nav>
		</header>
		<main>
			<div class="container">
				<div class="image-section">
					<div class="image-placeholder"></div>
				</div>
				<div class="text-section">
					<h2>Kulturama</h2>
					<button class="get-started"> get started</button>
				</div>
			</div>
			<div class="card-list">
				<h2 class="kulturama-title" >BUDAYA BAJU ADAT DARI SELURUH PROVINSI DI INDONESIA</h2>
				<kulturama-list></kulturama-list>
			</div>
		<footer-bar></footer-bar>
		</main>
		<footer>Copyright © 2024 - Kulturama</footer>
	</body>
</html>
